@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Open+Sans&display=swap');

*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-family: 'Open Sans', sans-serif;
}